.main-product-section .left-side .box1{
    width: 70px;
    height: 70px;
    border: 1px solid rgba(128, 128, 128, 0.545);
    margin-bottom: 10px;
    border-radius: 3px;
}
.main-product-section .left-side .box1 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.main-product-section{
    display: flex;
    width: 100%;
}
.main-product-section .right-side .right-side-top-main{
    display: flex;
   
}
.main-product-section .left-side{
    width: 6%;
}
.main-product-section .middle-side{
    width: 38%;
}
.main-product-section .right-side{
    padding-left: 20px;
    width: 55%;
}
.main-product-section .right-side .right-side-top-main h3{
    font-size: 18px;
    font-weight: 600;
    padding-right: 8px;
}
.right-side-top{
    width: 100%;
}
.right-side-top-main .w-110{
    width: 100px!important;
}
.review-section-right{
    display: flex;
}
.review-section-right .star-rating{
    margin-right: 10px;
}
.review-section-right a{
    margin-right: 10px;
}
.right-side-middle{
    display: flex;
    justify-content: space-around;
}
.middle-left{
    border-right: 1px solid rgba(128, 128, 128, 0.595);
    /* width: 25%; */
    padding-right: 20px;


}
.middle-left del{
    color: var(--font-p-color);
    font-size: 18px!important;
    font-weight: 600;
}
.middle-left h2{
    font-size: 22px;
    font-weight: 600;
}
.middle-left p{
    font-size: 16px;
    color: var(--font-p-color);
    font-weight: 500;
}
.middle-middle li{
    list-style-type: initial;

}
.middle-middle{
    padding-left: 15px;
}
.middle-middle p{
    text-transform: uppercase;
    padding-bottom: 5px;
}
.middle-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.middle-right a{
    text-align: center;
    margin-top: 5px;
}
.right-side-middle p{
    margin-bottom: 0;
}
.color-light-green{
    color: rgb(5, 221, 5);
}
.middle-side{
    padding-left: 20px;
    /* padding-right: 20px; */
}
.main-product-section .middle-side img{
    /* width: 450px; */
    height: 500px;
}
.middle-right{
    height: 130px;
    width: 100px;
    background-color: white;
    border-radius: 3px;
}
.middle-right img{
    /* width: ; */
    object-fit: cover;
    height: 70%;
}
.bg-all{
    background-color: #f8f8f8;
}
.options p{
    margin-bottom: 5px;
}
.options{
    margin-top: 15px;
}
.options select{
    height: 35px;
    width: 180px;
    border: 1px solid rgba(131, 130, 130, 0.485);
    background-color: white;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    /* margin-top: 10px; */
    margin-top: 0;
    margin-bottom: 15px;
}
.radio-group-btn{
    display: flex;
}
.radio-buttons{
    margin-right: 15px;
    border: 1px solid rgba(131, 130, 130, 0.485);
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    position: relative;
}
.radio-buttons input{
    display: none;
}


/* .radio-buttons input[type="radio"]:checked + label {
    background-color:#bfb;
    border-color: #4c4;
}
.radio-buttons label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}
.radio-buttons input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  .radio-buttons input[type="radio"]:focus + label {
    border: 2px dashed #444;
} */
  .options .circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
  .bg-violet{
    background-color: blueviolet;
  }
  .bg-aqua{
    background-color: aqua;
  }
  .bg-red1{
    background-color: rgb(140, 37, 37);

  }
  .bg-aqua-dark{
    background-color: rgb(16, 61, 61);
  }
  .circles{
    display: flex;
  }
  .options input[type='text']{
    width: 80%;
    height: 35px;
    border-radius: 3px;
    border: 1px solid rgba(131, 130, 130, 0.485);
    background-color: white;
    padding: 5px;
  }
  .options .input-w-100{
    width: 100%;
    
    border-radius: 3px;
    border: 1px solid rgba(131, 130, 130, 0.485);
    background-color: white;
    padding: 5px;

  }
  .options .input-w-90{
    width: 80%;
    
    border-radius: 3px;
    border: 1px solid rgba(131, 130, 130, 0.485);
    background-color: white;
    padding: 5px;

  }
  .options .upload-file{
    width: 100%;
    
    border-radius: 3px;
    border: 1px solid rgba(131, 130, 130, 0.485);
    background-color: var(--theme-color);
    padding: 5px;
    color: white;

  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
input[type="time"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
input[type="datetime"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.calender-btn{
    color: white;
    background-color: var(--theme-color);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 40px;
    height: 35px;
    border: none;
    border-radius: 3px;
}
.right-side-button-cart{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}
.right-side-button-cart button{
    height: 35px;
    background-color: var(--theme-color);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 8px;
}
.right-side-button-cart input{

    border-radius: 3px;
    border: 1px solid rgba(131, 130, 130, 0.485);
    background-color: white;
    padding: 5px;
    width: 60px;
    margin-right: 10px;
}
.min-quantity p{
    background-color: rgb(156 217 242 / 40%);
    margin-bottom: 0;
    padding-left: 30px;
    color: rgb(29 80 104);
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.share-social{
    justify-content: flex-start!important;
}
.share-social a{
    border-radius: 3px!important;
    background-color: rgba(128, 128, 128, 0.656)!important;
}

.cards-products-page{
    display: flex;
}
.cards-products-page .right-card{
    max-width: 250px;
}
.products-page-related-products{
    padding-top: 20px;
    margin-bottom: -20px;
    padding-bottom: 20px;
    /* margin-top: 20px; */
}
 

